body{
    margin: 0;
    padding: 0;
}

.flex-background{
    background-color: green;
    position: relative;
    min-height: 700px;
    width: 100%;
}

.static-background{
    margin: auto;
    background-color: white;
    color: black;
    min-height: 700px;
    width: 1000px;
}

#main-title{
    background-color: white;
    color: green;
    text-align: center;
    font-family: Arial;
    font-size: 48px;
    font-weight: bold;
}

.main-area{
    background-color: white;
    color: black;
    width: 1000px;
    min-height: 200px;
    padding: 40px;
    font-size: 36px;
    font-weight: bold;
}

.mdl-button{
    background-color: green;
    color: white;
    font-size: 24px;
    font-weight: bold
}
